{% extends "base.html" %}
{% load static %}
{% block title %} StudFood|Se Connecter {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm text-center">
        <h1>S'identifier!</h1>
          {% if messages %}
          <div class="messages-alert " >
            <div class="alert alert-info" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
          </div>
          {% endif %}
        <div class="order-md-last d-flex">

            <form action="" method="POST" class="bg-white p-5 contact-form">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Enter Your Username">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
              </div>
              <p> Vous n'avez pas un compte ?<a href="{% url 'accounts:register-page' %}">Commencer ici</a></p>

              <div class="form-group">
                <input type="submit" value="Se connecter" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>

    </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

{% endblock %}