{% extends "base.html" %}
{% load static %}
{% block title %} StudFood | Profile {% endblock %}

{% block content %}
<style>
    .box {
        box-shadow: 0 0 05px grey;
        padding:0 15px 0 15px;
    }
    </style>
<div class="hero-wrap hero-bread" style="background-image: url({% static 'assets/images/bg_1.jpg' %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread">Profile section</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section ">
    <div class="container ">
        <div class="box">
            {% if messages %}
            <div class="messages-alert " >
              <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
                </button>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <div class="row mt-3">
            <div class="col-lg-6 mb-5 ftco-animate " style="margin-top: 20px;">
                <a href="{{request.user.profile.profile_picture.url}}" class="image-popup"><img  src="{{request.user.profile.profile_picture.url}}" class="img-fluid" alt="photo de profile"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate"style="margin-top: 20px;">
                <h1> <strong>{{request.user.profile.first_name}} {{request.user.profile.last_name}}</strong></h1>
                <h5>Faculté:</h5><p> {{request.user.profile.university}}</p>
                <h5 class="">N° de telephone:</h5> <p>{{request.user.profile.phone_number}}</p>
                <h5 class=""><span>Adresse: </h5><p>{{request.user.profile.address}}</p>
                <h5 class=""><span>Genre: </h5><p>{{request.user.profile.gender}}</p>


                    <div class="row mt-4">

                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">

              </div>
              <div class="w-100">
                <p><a href="{% url 'accounts:edit-profile-page'%}" class="btn btn-black py-3 px-5">Editer votre profil</a></p>

              </div>
              <div class="col-md-12">
              </div>
          </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}